<!-- CATEGORIES -->
<div style="word-break: break-all"
	 layout="row"
	 layout-wrap
	 ng-if="vm.categories.length">
	<md-button ng-click="vm.changeCategory(category)"
			   class="big-thumb animate-repeat"
			   ng-repeat="category in vm.categories track by category.id"
			   flex-gt-xs="33"
			   flex="50"
			   layout="column"
			   layout-align="center center">
		<md-icon md-svg-src="{{category.image.src }}"></md-icon>
		{{category.title}}
	</md-button>
</div>

<!-- OFFERS -->
<div ng-if="vm.offers.length">
	<md-grid-list class="offer-grid-list"
				  flex
				  md-cols-xs="2"
				  md-cols-sm="3"
				  md-cols-md="2"
				  md-cols-gt-md="3"
				  md-row-height-gt-md="2:2"
				  md-row-height="4:5">
		<md-grid-tile layout="column"
					  class="offer-container animate-repeat"
					  ng-repeat="offer in vm.offers track by offer.id"
					  ng-click="vm.showOffer(offer)">
			<md-grid-tile-header class="offer-header">
				<h4>
					<md-icon ng-if="offer.street">location_on</md-icon>
					<md-icon ng-if="!offer.street">insert_link</md-icon>
					<div style="margin-top:10px">{{offer.title}}</div>
				</h4>
				<div class="offer-content"
					 flex ng-cloak>
					<p class="offer-ngo-title"
					   translate="Anbieter">:<a class="offer-ngo"
												ui-sref="main.provider({id:offer.ngo.id})">
						{{offer.ngo.organisation}}</a>
					</p>
					<div class="offer-description">
						{{offer.description | limitTo:100}}
						<span ng-if="offer.description.length > 100">...</span>
					</div>
					<div class="offer-address"
						 ng-if="offer.street || offer.city"
						 flex>
						<span ng-if="offer.street!=null">{{offer.street}} {{offer.streetnumber}}</br></span>
						<span ng-if="offer.streetnumberadditional==null">{{offer.zip}}</span>
						<span ng-if="offer.street!=null">{{offer.city}}</span>
					</div>
				</div>
			</md-grid-tile-header>
		</md-grid-tile>
	</md-grid-list>
</div>


<!-- LOADER -->
<div ng-if="!vm.categories.length && !vm.offers.length"
	 layout-fill
	 layout="row"
	 layout-align="center center">
	<loader></loader>
</div>
