{
  "development": {
    "isFrontendDebug": true,
    "isDonateEnabled":true,
    "paypalKey":"01234sandbox_key56789"
  },
  "production": {
    "isFrontendDebug": false,
    "isDonateEnabled":false,
    "paypalKey":"01234actual_key56789"
  }
}