<md-table-container>
	<table
		md-table
		md-row-select="vm.isElementVisible('select')"
		multiple
		ng-model="vm.selectedItems"
		md-progress="vm.promise"
	>

		<!-- head -->
		<thead
			md-head
			md-order="vm.query.order"
			md-on-reorder="vm.onQueryUpdate"
		>
		<tr md-row>
			<th
				md-column
				class="icon"
				ng-if="vm.isElementVisible('edit')"
			></th>

			<!-- name -->
			<th
				md-column
				md-order-by="id"
				style="min-width: 300px"
			>{{ 'Name' | translate }}
			</th>

			<!-- mail -->
			<th
				md-column
				md-order-by="email"
				style="min-width: 300px"
			>{{ 'Email' | translate }}
			</th>

			<!-- enabled -->
			<th
				md-column
				md-order-by="confirmed"
				ng-if="vm.isElementVisible('enabled')"
			><i
				class="material-icons"
				style="padding-left: 14px;"
			>lock_open</i>
			</th>

			<!-- providers -->
			<th
				md-column
				md-order-by="ngo_id"
				ng-if="vm.isElementVisible('provider')"
				style="min-width: 200px"
			>{{ 'Anbieter' | translate }}
			</th>

			<!-- roles -->
			<th
				md-column
				md-order-by="roles"
				style="min-width: 200px"
			>{{ 'Rolle' | translate }}
			</th>

			<!-- pendings -->
			<th
				md-column
				md-order-by="pendings_count"
				ng-if="vm.isElementVisible('pending')"
			>{{ 'Requests' | translate }}
			</th>

		</tr>
		</thead>

		<!-- body -->
		<tbody md-body>
		<tr
			md-row
			md-select="item"
			ng-repeat="item in vm.items"
		>
			<!-- edit -->
			<td
				md-cell
				ng-if="vm.isElementVisible('edit')"
			>
				<md-button
					ng-click="vm.editItem(item)"
					class="md-icon-button md-accent md-hue-2"
				>
					<md-icon>edit</md-icon>
				</md-button>
			</td>

			<!-- title -->
			<td md-cell>
				<strong>{{item.name}}</strong>
			</td>

			<!-- email -->
			<td md-cell>
				<strong>{{item.email}}</strong>
			</td>

			<!-- enabled lock -->
			<td
				md-cell
				ng-if="vm.isElementVisible('enabled')"
			>
				<md-button
					ng-click="vm.toggleItem(item,true)"
					ng-disabled="!vm.isElementEnabled('enabled')"
					ng-if="!item.confirmed"
					class="md-icon-button md-accent md-hue-2"
				>
					<md-tooltip
						md-direction="right"
						md-delay="800"
					>user is not confirmed
					</md-tooltip>
					<md-icon>lock</md-icon>
				</md-button>
				<md-button
					ng-click="vm.toggleItem(item,false)"
					ng-disabled="!vm.isElementEnabled('enabled')"
					ng-if="item.confirmed"
					class="md-icon-button md-accent md-hue-2"
				>
					<md-tooltip
						md-direction="right"
						md-delay="800"
					>user is confirmed
					</md-tooltip>
					<md-icon>lock_open</md-icon>
				</md-button>
			</td>

			<!-- provider -->
			<td
				md-cell
				ng-if="vm.isElementVisible('provider')"
			>
				<div
					ng-repeat="ngo in item.ngos"
				>
					<a href="{{vm.getURL(ngo,'provider')}}">{{ngo.organisation}}</a>
				</div>
			</td>

			<!-- roles -->
			<td
				md-cell
			>
				<div
					ng-repeat="role in item.roles"
				>
					{{ role.display_name }}
				</div>
			</td>

			<!-- pending -->
			<td
				md-cell
				ng-if="vm.isElementVisible('pending')"
			>
				<a
					ng-click="vm.editItem(item)"
					ng-if="item.pendings.length > 0"
				>
					{{item.pendings.length}}</a>
			</td>

		</tr>
		</tbody>
	</table>
</md-table-container>