<!-- LOADER -->
<div ng-if="!vm.provider"
	 layout="row" layout-align="center center" layout-fill>
	<loader></loader>
</div>

<!-- provider -->
<div class="provider-detail"
	 ng-if="vm.provider">

	<h2>{{vm.provider.organisation}}</h2>

	<!-- contact -->
	<p ng-if="vm.provider.contact_phone">
		<md-icon>phone</md-icon>
		<a href="tel:{{vm.provider.contact_phone}}">{{vm.provider.contact_phone}}</a></p>
	<p style="word-break: break-all"
	   ng-if="vm.provider.website">
		<md-icon>insert_link</md-icon>
		<a href="{{vm.provider.website}}"
		   target="_blank">{{vm.provider.website}}</a>
	</p>
	<p style="word-break: break-all"
	   ng-if="vm.provider.facebook_url">
		<md-icon md-svg-src="/img/icons/facebook.svg"
				 class="normal">
		</md-icon>
		<a href="{{vm.provider.facebook_url}}"
		   target="_blank">{{vm.provider.facebook_url}}
		</a>
	</p>
	<p ng-if="vm.provider.contact_email">
		<md-icon>mail</md-icon>
		<a href="mailto:{{vm.provider.contact_email}}">{{vm.provider.contact_email}}</a>
	</p>

	<!-- address -->
	<p ng-if="vm.provider.street">
		<md-icon>place</md-icon>
		{{vm.provider.street}} {{vm.provider.street_number}}</br>
		<span ng-if="vm.provider.streetnumberadditional"
			  class="provider-detail-address">{{vm.provider.streetnumberadditional}} {{vm.provider.zip}}</br>
			</span>
		<span ng-if="!vm.provider.streetnumberadditional"
			  class="provider-detail-address">{{vm.provider.zip}}</br>
			</span>
		<span ng-if="vm.provider.street"
			  class="provider-detail-address">{{vm.provider.city}}</span>
	</p>

	<!-- data -->
	<p ng-if="vm.provider.description"
	   class="provider-detail-description">
		<md-icon>info</md-icon>
		{{vm.provider.description}}
	</p>
	<br>
	<div ng-if="vm.provider.image">
		<img class="provider-detail-image"
			 ng-src="{{vm.provider.image.src}}">
	</div>

	<!-- raise button -->
	<md-content flex
				hide-gt-sm>
		<md-button ng-if="vm.provider !=null"
				   style="float: right;position:fixed;bottom:1em;right:1em"
				   class="md-raised md-icon-button md-primary"
				   ng-click="vm.toggleMap()"
				   layout-align="center center">
			<i class="material-icons"
			   ng-if="!$root.showMap">map</i>
			<i class="material-icons"
			   ng-if="$root.showMap">info</i>
		</md-button>
	</md-content>

</div>


