<md-table-container>
  <table
    md-table
    ng-model="vm.selectedItems"
    md-progress="vm.promise"
  >

    <!-- head -->
    <thead
      md-head
      md-order="vm.query.order"
      md-on-reorder="vm.onQueryUpdate"
    >
    <tr md-row>

      <!-- edit -->
      <th
        md-column
        class="icon"
        ng-if="vm.isElementVisible('edit_task')"
      ></th>

      <!-- name -->
      <th
        md-column
        md-order-by="id"
        style="min-width: 300px"
      >{{ 'Anbieter' | translate }}
      </th>

      <!-- checkbox -->
      <th
        md-column
        md-order-by="checked"
        ng-if="vm.isElementVisible('enabled_task')"
      ><i
        class="material-icons"
        style="padding-left: 14px;"
      >check_circle</i>
      </th>

      <!-- info -->
      <th
        md-column
        md-order-by="offers_count"
      ><i
        class="material-icons"
      >local_offer</i>
      </th>
      <th
        md-column
        md-order-by="users_count"
      ><i
        class="material-icons"
      >group</i>
      </th>

      <!-- note -->
      <th
        md-column
        style="min-width: 300px"
      >{{ 'Note' | translate }}
      </th>

      <!-- last change -->
      <th
        md-column
        md-order-by="updated_at"
      >{{ 'Letzte Änderung' | translate }}
      </th>

      <!-- user -->
      <th
        md-column
      >{{ 'Benutzer' | translate }}
      </th>

    </tr>
    </thead>

    <!-- body -->
    <tbody md-body>
    <tr
      md-row
      md-select="item"
      ng-repeat="item in vm.providers"
    >

      <!-- edit -->
      <td
        md-cell
        ng-if="vm.isElementVisible('edit_task')"
      >
        <md-button
          ng-click="vm.editItem(item,'note')"
          class="md-icon-button md-accent md-hue-2"
        >
          <md-icon aria-label="">edit</md-icon>
        </md-button>
      </td>

      <!-- title -->
      <td md-cell>
        <div>
          <md-tooltip
            md-direction="right"
            md-delay="400"
          >{{item.contact + ", " + item.contact_email + ", " + item.contact_phone}}
          </md-tooltip>
          <strong>{{item.organisation}}</strong>
        </div>
      </td>

      <!-- enabled lock -->
      <td
        md-cell
        ng-if="vm.isElementVisible('enabled_task')"
      >
        <md-button
          ng-click="vm.toggleItem(item,true)"
          ng-if="item.notes ? !item.notes.checked : true"
          class="md-icon-button md-accent"
        >
          <md-tooltip
            md-direction="right"
            md-delay="800"
          >belongs to newhere (has stars)
          </md-tooltip>
          <md-icon aria-label="">radio_button_unchecked</md-icon>
        </md-button>
        <md-button
          ng-click="vm.toggleItem(item,false)"
          ng-if="item.notes ? item.notes.checked : false"
          class="md-icon-button md-accent"
        >
          <md-tooltip
            md-direction="right"
            md-delay="800"
          >belongs to provider (no stars)
          </md-tooltip>
          <md-icon aria-label="">check</md-icon>
        </md-button>
      </td>

      <!-- counts -->
      <td md-cell>
        <a href="{{vm.getURL(item,'offer')}}">{{item.offers_count}}</a>
      </td>
      <td md-cell>
        <a href="{{vm.getURL(item,'user')}}">{{item.users_count}}</a>
      </td>

      <td
        md-cell
      >
        <md-tooltip
          md-direction="left"
          md-delay="800"
        >{{((item.notes && item.notes.notes.length > 0) ? item.notes.notes : "no notes")}}
        </md-tooltip>
        <small>{{(item.notes ? item.notes.notes : "no notes") | limitTo:200 }}</small>
        <span ng-if="(item.notes ? item.notes.notes : 'no notes').length > 200">...</span>
      </td>

      <!-- last updated at-->
      <td md-cell>
        <div>{{item.notes ? item.notes.updated_at : item.updated_at}} </div>
      </td>

      <!-- last updated at-->
      <td md-cell>
        <a
          ng-if="item.notes"
          href="{{vm.getURL(item.notes.user,'user_detail')}}">
          {{item.notes.user.name}}</a>
        <div ng-if="!item.notes">-</div>
      </td>
    </tr>
    </tbody>
  </table>
</md-table-container>