<md-menu>
	<md-button
		aria-label="Open user menu"
		class="md-icon-button"
		ng-click="$mdOpenMenu($event)"
	>
		<md-icon md-menu-origin>menu</md-icon>
	</md-button>
	<md-menu-content width="3">
		<md-menu-item>
			<md-button ng-click="vm.profile()">
				<md-icon md-menu-align-target>person</md-icon>
				{{ 'Profil' | translate }}
			</md-button>
		</md-menu-item>
		<md-menu-item>
			<md-button ui-sref="main.content.offers">
				<md-icon md-menu-align-target>map</md-icon>
				Main Page
			</md-button>
		</md-menu-item>
		<md-menu-divider></md-menu-divider>
		<md-menu-item>
			<md-button ng-click="vm.logout()">
				<md-icon>power_settings_new</md-icon>
				{{'Abmelden' | translate }}
			</md-button>
		</md-menu-item>
	</md-menu-content>
</md-menu>