<div
  layout="column"
  style="padding-top: 8px"
>
  <!-- Name -->
  <div
    style="padding-top: 8px"
    layout="row"
    flex="50"
  >
    <div flex="10">{{ 'Name' | translate }}:</div>
    <div
      layout="column"
      flex
    >
      {{vm.UserService.user.name}}
    </div>
  </div>

  <!-- Email -->
  <div
    style="padding-top: 8px"
    layout="row"
    flex="50"
  >
    <div flex="10">{{ 'Email' | translate }}:</div>
    <div
      layout="column"
      flex
    >
      {{vm.UserService.user.email}}
    </div>
  </div>

  <!-- roles -->
  <div
    ng-if="vm.isElementVisible('roles')"
    style="padding-top: 8px"
    layout="row"
    flex="50"
  >
    <div flex="10">{{ 'Rolle' | translate }}:</div>
    <div
      layout="column"
      flex
    >
      <div
        ng-repeat="role in vm.roles"
        ng-if="role.name != 'user'"
        flex
      >
        <strong>{{ role.display_name }}</strong>
        (<em>{{ role.description }}</em>)
      </div>

      <div
        ng-if="vm.UserService.isWithoutRole()"
        ng-cloak
        flex
      >
        <strong>{{ 'none' | translate }}</strong>
        (<a
        style="cursor: hand"
        ng-click="vm.requestRole()"
      ><em>{{ 'profile_role_join_0' | translate }}</em>
      </a>)
      </div>
    </div>
  </div>

  <!-- provider -->
  <div
    style="padding-top: 8px"
    layout="row"
    flex="50"
  >
    <div flex="10">{{ 'Anbieter' | translate }}:</div>
    <div
      layout="column"
      flex
    >
      <a
        ng-repeat="provider in vm.UserService.providers"
        href="{{vm.getURL(provider,'provider')}}"
        ng-if="!vm.isAdmin()"
      >
        {{ provider.organisation }}
      </a>

      <span
        ng-if="vm.UserService.isAdministrator()"
      >
					<strong>{{ 'none' | translate }}</strong> (<em>{{ 'profile_role_admin' | translate }}</em>)
			</span>

      <span
        ng-if="!vm.UserService.isAdministrator() && vm.UserService.providers.length == 0"
        ng-cloak
      >
					<strong>{{ 'none' | translate }}</strong> (<a
        style="cursor: hand"
        ng-click="vm.requestRole()"
      ><em>{{ 'profile_role_join_1' | translate }}</em></a>)
			</span>

    </div>
  </div>

</div>

<!-- pending table -->
<div
  ng-if="vm.UserService.user.pendings.length > 0"
  style="margin-top: 24px;"
  layout="column"
>
  <div>

    <p>{{ 'pending_table_description_0' | translate }}</p>
    <p>{{ 'pending_table_description_1' | translate }}</p>
  </div>
  <cms-request-table
    ng-model="vm.UserService.user.pendings"
  ></cms-request-table>
</div>

<!-- request change button -->
<div
  flex
  layout="row"
  layout-align="end center"
  style="margin-top: 24px;"

>
  <md-button
    ng-click="vm.changePassword()"
    class="md-raised"
  >
    {{ 'Passwort ändern' | translate }}
  </md-button>

  <md-button
    ng-click="vm.requestRole()"
    class="md-primary md-raised"
    ng-if="!vm.UserService.isAdministrator()"
  >
    <md-tooltip
      md-direction="left"
    >{{ 'request_profile_change_tooltip' | translate }}
    </md-tooltip>
    {{ 'request_profile_change' | translate }}
  </md-button>


</div>


