<div
  flex
  layout-fill
  layout-align="center center"
  layout="row"
  style="margin-top: 20px;"
>
  <md-content
    class="Page-container max-content-width"
    layout-align="center center"
    flex
  >
    <div
      layout="column"
      layout-align="center center"
    >
      <h1
        class="md-headline"
        translate="Regestrieren Sie sich"
      ></h1>
      <div
        layout-fill
        flex
      >
        <register-form
          flex
          layout-fill
        ></register-form>
      </div>
    </div>

  </md-content>
</div>
