<div>
	<md-card>
		<md-card-title>
			<md-card-title-text>
				<span class="md-headline">
					<md-icon>translate</md-icon>&nbsp;&nbsp;
					{{ 'Übersetzungen' | translate }}
				</span>
			</md-card-title-text>
		</md-card-title>

		<md-toolbar
			class="md-table-toolbar md-default"
			layout-align="space-between start"
			layout-padding
			layout="row"
		>
			<translation-type></translation-type>
			<search></search>
			<enabled></enabled>

			<span flex></span>

			<translation-language></translation-language>
			<translation-status></translation-status>

		</md-toolbar>

		<md-content flex>
			<div ui-view="content"></div>
			<pagination></pagination>
		</md-content>
	</md-card>
</div>

<dial></dial>