@import "colors";

// cookie-consent-revoke-button-workaround
.cc-revoke.cc-bottom {
  display: block !important;
  z-index: 1;
}
.cc-animate.cc-revoke.cc-bottom {
  transform: translateY(0em) !important;
}

.text-align-left {
  text-align: left;
}

.text-align-right {
  text-align: right;
}

@font-face {
    font-family: 'cooper-blackregular';
    src: url('/build/fonts/ufonts.com_cooper-black-regular-webfont.woff2') format('woff2'),
         url('/build/fonts/ufonts.com_cooper-black-regular-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}
html.md-default-theme, html, body.md-default-theme, body{
  background-color: #fff;
}
div[ui-view="front"]{
  height:100%;
}
.main{
  min-height: calc(~'100% - 275px');
}
.Page-container{
  height:100%;
}
md-list, form, .white-bg{
  background-color: #fff !important;
}
.greyed{
  background-color:#ECECEC;
}
.colored{
  color:@blue;
}

.max-content-width
{
  max-width: 650px;
}