.animate-repeat
{
  list-style:         none;
  -webkit-transition: 0.2s ease-out all;
  transition:         0.2s ease-out all;
}

.animate-repeat.ng-move,
.animate-repeat.ng-enter,
.animate-repeat.ng-leave
{
  -webkit-transition: all ease-in 0.2s;
  transition:         all ease-in 0.2s;
}

.animate-repeat.ng-leave.ng-leave-active,
.animate-repeat.ng-move,
.animate-repeat.ng-enter
{
  opacity:   0;
  transform: translateX(100%);
}

.animate-repeat.ng-leave,
.animate-repeat.ng-move.ng-move-active,
.animate-repeat.ng-enter.ng-enter-active
{
  opacity:   1;
  transform: translateX(0%);
}

/**
 * Stagger Leave (hide) animation
 */
.animate-repeat.ng-leave-stagger
{
  -webkit-transition-delay:    0.01s;
  transition-delay:            0.01s;
  -webkit-transition-duration: 0s;
  transition-duration:         0s;
}

/**
 * Stagger ENTER ANIMATION
 */
.animate-repeat.ng-enter-stagger
{
  -webkit-transition-delay:    0.05s;
  transition-delay:            0.05s;
  -webkit-transition-duration: 0s;
  transition-duration:         0s;
}