<md-table-container>
	<table
		md-table
		md-row-select
		multiple
		ng-model="vm.selectedItems"
		md-progress="vm.promise"
	>

		<!-- head -->
		<thead
			md-head
			md-order="vm.query.order"
			md-on-reorder="vm.onQueryUpdate"
		>
		<tr md-row>
			<th
				md-column
				class="icon"
				ng-if="vm.isElementVisible('edit')"
			></th>
			<th
				md-column
			><i
				class="material-icons"
			>exit_to_app</i>
			</th>
			<th
				md-column
				md-order-by="id"
				style="min-width: 300px"
			>{{ 'Anbieter' | translate }}
			</th>
			<th
				md-column
				md-order-by="enabled"
				ng-if="vm.isElementVisible('enabled')"
			><i
				class="material-icons"
				style="padding-left: 14px;"
			>lock_open</i>
			</th>

			<th
				md-column
				md-order-by="offers_count"
			><i
				class="material-icons"
			>local_offer</i>
			</th>
			<th
				md-column
				md-order-by="users_count"
			><i
				class="material-icons"
			>group</i>
			</th>

			<th
				md-column
				md-order-by="street"
				style="min-width: 200px"
			>{{ 'Adresse' | translate }}
			</th>
			<th
				md-column
				md-order-by="contact_phone"
				class="icon"
			>{{ 'Telefon' | translate }}
			</th>
			<th
				md-column
				md-order-by="contact_email"
				class="icon"
			>{{ 'Email' | translate }}
			</th>
			<th
				md-column
				md-order-by="website"
				class="icon"
			>{{ 'Webseite' | translate }}
			</th>

			<th
					md-column
					md-order-by="updated_at"
			>{{ 'Letzte Änderung' | translate }}
			</th>
		</tr>
		</thead>

		<!-- body -->
		<tbody md-body>
		<tr
			md-row
			md-select="item"
			ng-repeat="item in vm.items"
		>
			<!-- edit -->
			<td
				md-cell
				ng-if="vm.isElementVisible('edit')"
			>
				<md-button
					ng-click="vm.editItem(item)"
					class="md-icon-button md-accent md-hue-2"
				>
					<md-icon aria-label="">edit</md-icon>
				</md-button>
			</td>

			<!-- link to website -->
			<td
				md-cell
			>
				<div>
					<md-tooltip
						md-direction="right"
						md-delay="800"
					>
						<small>link to frontend (ID: {{item.id}})</small>
					</md-tooltip>
					<a href="{{vm.getURL(item,'frontend')}}">
						<md-icon aria-label="">insert_link</md-icon>
					</a>
				</div>
			</td>

			<!-- title -->
			<td md-cell>
				<div>
					<md-tooltip
						md-direction="bottom"
						md-delay="800"
					>
						<small>{{item.description}}</small>
					</md-tooltip>
					<strong>{{item.organisation}}</strong>
				</div>
			</td>

			<!-- enabled lock -->
			<td
				md-cell
				ng-if="vm.isElementVisible('enabled')"
			>
				<md-button
					ng-click="vm.toggleItem(item,true)"
					ng-disabled="!vm.isElementEnabled('enabled')"
					ng-if="!item.published"
					class="md-icon-button md-accent md-hue-2"
				>
					<md-tooltip
						md-direction="right"
						md-delay="800"
					>provider is not enabled
					</md-tooltip>
					<md-icon aria-label="">lock</md-icon>
				</md-button>
				<md-button
					ng-click="vm.toggleItem(item,false)"
					ng-disabled="!vm.isElementEnabled('enabled')"
					ng-if="item.published"
					class="md-icon-button md-accent md-hue-2"
				>
					<md-tooltip
						md-direction="right"
						md-delay="800"
					>provider is enabled
					</md-tooltip>
					<md-icon aria-label="">lock_open</md-icon>
				</md-button>
			</td>

			<!-- counts -->
			<td md-cell>
				<a href="{{vm.getURL(item,'offer')}}">{{item.offers_count}}</a>
			</td>
			<td md-cell>
				<a href="{{vm.getURL(item,'user')}}">{{item.users_count}}</a>
			</td>

			<!-- address -->
			<td md-cell>
				<div ng-if="item.street">
					{{item.street}} {{item.streetnumber}}
					, {{item.zip}}
					{{item.city}}
				</div>
			</td>

			<!-- contact -->
			<td md-cell>
				<div ng-if="item.contact_phone">
					<md-tooltip>{{item.contact_phone}}</md-tooltip>
					<a href="tel:{{item.contact_phone}}">
						<md-icon aria-label="">phone</md-icon>
					</a>
				</div>
			</td>
			<td md-cell>
				<div ng-if="item.contact_email">
					<md-tooltip md-direction="left">{{item.contact_email}}</md-tooltip>
					<a href="mailto:{{item.contact_email}}">
						<md-icon aria-label="">mail</md-icon>
					</a></div>
			</td>
			<td md-cell>
				<div ng-if="item.website">
					<md-tooltip md-direction="left">{{item.website}}</md-tooltip>
					<a
						href="{{item.website}}"
						target="_blank"
					>
						<md-icon aria-label="">insert_link</md-icon>
					</a></div>
			</td>
			<td md-cell>
				<div>{{item.updated_at}}</div>
			</td>
		</tr>
		</tbody>
	</table>
</md-table-container>