<div
	style="padding:.5em;"
	layout="row"
	layout-align="space-between center"
>

	<!-- enabled -->
	<md-button
			ng-click="vm.toggleItem(true)"
			ng-if="!vm.offer.enabled"
			class="md-icon-button md-accent md-hue-2"
	>
		<md-tooltip
				md-direction="right"
				md-delay="800"
		>offer is not enabled
		</md-tooltip>
		<md-icon>lock</md-icon>
	</md-button>
	<md-button
			ng-click="vm.toggleItem(false)"
			ng-if="vm.offer.enabled"
			class="md-icon-button md-accent md-hue-2"
	>
		<md-tooltip
				md-direction="right"
				md-delay="800"
		>offer is enabled
		</md-tooltip>
		<md-icon>lock_open</md-icon>
	</md-button>

	<!-- title -->
	<span class="md-title" ng-if="vm.offer.title">
		{{ vm.offer.title }}
	</span>
	<span class="md-title" ng-if="!vm.offer.title">
		{{ 'Neues Angebot' | translate  }}
	</span>

	<span flex></span>

	<!-- ngo list -->
	<span ng-if="vm.providers.length > 1">
    <md-input-container class="md-block">
      <label>{{ 'Anbieter' | translate }}</label>
      <md-select ng-model="vm.offer.ngo_id">
        <md-option
	        ng-repeat="ngo in vm.providers"
	        ng-value="ngo.id"
        >{{ ngo.organisation }}</md-option>
      </md-select>
    </md-input-container>
  </span>
</div>

<form
	name="offerForm"
	ng-submit="vm.save()"
	class="blank"
>
	<md-content
		class="blank"
		layout-xs="column"
		layout="row"
	>

		<!-- 1# details/filters/categories -->
		<div
			flex-xs
			flex-gt-md="66"
			flex-gt-xs="60"
			layout="column"
		>
			<!-- details -->
		  <offer-details></offer-details>
			<div
				layout="row"
				layout-md="column"
				flex
			>
				<div
					flex-gt-md="50"
					flex-gt-xs="40"
					layout="column"
				>
					<!-- filters -->
					<offer-filters></offer-filters>
				</div>
				<div
					flex-gt-md="50"
					flex-gt-xs="60"
					layout="column"
				>
					<!-- categories -->
					<offer-categories></offer-categories>
				</div>
			</div>
		</div>

		<!-- 2# image/date/address/translation -->
		<div
			flex-xs
			flex-gt-md="33"
			flex-gt-xs="40"
			layout="column"
		>
			<!-- image -->
			<offer-image></offer-image>

			<!-- date -->
			<offer-date></offer-date>

			<!-- address -->
			<offer-address></offer-address>

			<div
				layout="row"
				layout-xs="column"
				flex
			>
				<div
					flex-gt-xs="100"
					layout="column"
				>
					<!-- translations -->
					<offer-translation></offer-translation>
				</div>
			</div>
		</div>
	</md-content>

	<div
		flex
		layout="row"
		layout-align="end center"
	>
		&nbsp;<md-icon>warning</md-icon>&nbsp;
		<span translate="Alle angegebenen Daten werden veröffentlicht"></span>
		<span flex></span>

		<save
			is-disabled="offerForm.$invalid || offerForm.$pristine"
		></save>

		<cancel></cancel>
	</div>
</form>