


<div
  layout-align="space-between center"
  layout="row"
>
  <div
    layout="column"
  >
    <!-- warning -->
    <div
      layout="row"
      layout-align="start center"
    >
      <i
        class="material-icons"
        style="color: red !important; margin-left: 22px; margin-right: 14px;"
      >warning</i>
      <span translate="Alle angegebenen Daten werden veröffentlicht"></span>
    </div>

    <!-- now -->
    <div>
      <md-icon
        ng-if="vm.isVisible"
        style="margin-left: 22px"
      >visibility
      </md-icon>

      <md-icon
        ng-if="!vm.isVisible"
        style="margin-left: 22px"
      >visibility_off
      </md-icon>

      <span ng-if="vm.isVisible" style="margin-left: 12px">
      {{ 'offer_currently_visible' | translate | sprintf: vm.now }}
    </span>

      <span ng-if="!vm.isVisible" style="margin-left: 12px">
      {{ 'offer_currently_invisible' | translate | sprintf: vm.now }}
    </span>
    </div>
  </div>

  <span flex></span>

  <!-- ngo list -->
  <span ng-if="vm.providers.length > 1">
    <md-input-container class="md-block">
      <label>{{ 'Anbieter' | translate }}</label>
      <md-select
        ng-model="vm.offer.ngo_id"
        md-on-close="vm.onProviderSelected"
      >
        <md-option
          ng-repeat="ngo in vm.providers"
          ng-value="ngo.id"
        >{{ ngo.organisation }}</md-option>
      </md-select>
    </md-input-container>
  </span>
</div>

<form
  name="offerForm"
  ng-submit="vm.save()"
  class="blank"
>
  <md-content
    class="blank"
    layout-xs="column"
    layout="row"
  >

    <!-- 1# details/filters/categories -->
    <div
      flex-xs
      flex-gt-md="66"
      flex-gt-xs="60"
      layout="column"
    >
      <!-- details -->
      <offer-details></offer-details>

      <div
        layout="row"
        layout-md="column"
        flex
      >
        <div
          flex-gt-md="50"
          flex-gt-xs="40"
          layout="column"
          ng-if="false"
        >
          <!-- filters -->
          <offer-filters></offer-filters>
        </div>
        <div
          flex-gt-md="100"
          flex-gt-xs="100"
          layout="column"
        >
          <!-- categories -->
          <offer-categories></offer-categories>
        </div>
      </div>
    </div>

    <!-- 2# image/date/address/translation -->
    <div
      flex-xs
      flex-gt-md="33"
      flex-gt-xs="40"
      layout="column"
    >
      <!-- image -->
      <offer-image></offer-image>

      <!-- date -->
      <offer-date></offer-date>

      <!-- address -->
      <offer-address></offer-address>

      <div
        layout="row"
        layout-xs="column"
        flex
      >
        <div
          flex-gt-xs="100"
          layout="column"
        >
          <!-- translations -->
          <offer-translation></offer-translation>
        </div>
      </div>
    </div>
  </md-content>

  <div
    flex
    layout="row"
    layout-align="end center"
  >

    <save
      is-disabled="offerForm.$invalid || offerForm.$pristine || vm.isSaving"
    ></save>

    <cancel></cancel>
  </div>
</form>