<md-card
	ng-form="offerDetails"
>
	<md-card-title>
		<md-card-title-text>
			<span class="md-headline">{{ 'Details' | translate }}</span>
		</md-card-title-text>
	</md-card-title>

	<md-content layout-padding>
		<md-input-container class="md-block">
			<label>{{ 'Titel' | translate }}</label>
			<input
				ng-model="vm.offer.title"
				md-maxlength="100"
				required
			>
		</md-input-container>

		<md-input-container class="md-block">
			<label>{{ 'Beschreibung' | translate }}</label>
			<textarea
				ng-model="vm.offer.description"
				md-maxlength="200"
				rows="3"
				required
			></textarea>
		</md-input-container>

		<!-- email -->
		<md-input-container class="md-block">
			<label>{{ 'Email' | translate }}</label>
			<input
				ng-model="vm.offer.email"
				type="email"
				name="email"
				placeholder="email@offer.com"
				ng-pattern="/^.+@.+\..+$/"
			>
			<div
				ng-messages="offerDetails.email.$error"
				role="alert"
			>
				<div ng-message-exp="['pattern']">
					{{ 'the given email address should at least look valid' | translate }}
				</div>
			</div>
		</md-input-container>

		<!-- phone -->
		<md-input-container class="md-block">
			<label>{{ 'Telefon' | translate }}</label>
			<input
				ng-model="vm.offer.phone"
				placeholder="+43 660 12345678"
				type="tel"
				name="phone"
				ng-pattern="/^\+?[0-9]+[\s0-9]*$/"
				minlength="6"
				maxlength="24"
			>
			<div
				ng-messages="offerDetails.phone.$error"
				role="alert"
			>
				<div ng-message-exp="['minlength', 'maxlength', 'pattern']">
					{{ 'the given phone number should at least look valid' | translate }}
				</div>
			</div>
		</md-input-container>

		<!-- website -->
		<md-input-container class="md-block">
			<label>{{ 'Webseite' | translate }}</label>
			<input
				ng-model="vm.offer.website"
				type="url"
				placeholder="http://www.your-offer.com"
			>
		</md-input-container>

		<!-- facebook -->
		<md-input-container class="md-block">
			<label>Facebook URL</label>
			<input
				ng-model="vm.offer.facebook_url"
				type="url"
				placeholder="http://www.facebook.com/link"
			>
		</md-input-container>

		<!-- opening hours -->
		<md-input-container class="md-block">
			<label>{{ 'Öffnungszeiten' | translate }}</label>
			<textarea
				ng-model="vm.offer.opening_hours"
				md-maxlength="200"
				rows="5"
			></textarea>
		</md-input-container>
	</md-content>
</md-card>