<div
	class="offer-detail"
	ng-if="vm.offer"
	md-swipe-up="vm.onSwipeUp()"
	md-swipe-down="vm.onSwipeDown()"
>
	<h2>{{vm.offer.title}}</h2>

	<!--  ||||||||||||||||||||||||||||||||||||||||||||||||||| -->
	<!-- content -->
	<!--  ||||||||||||||||||||||||||||||||||||||||||||||||||| -->

	<!-- description -->
	<div
		layout="row"
		class="detail-container"
	>
		<md-icon ng-if="$root.isTextAlignmentLeft">info</md-icon>

		<div
			class="detail-content"
			layout="column"
		>
			<div>{{vm.offer.description}}</div>

			<!-- provider -->
			<div
				ng-if="$root.isTextAlignmentLeft"
				style="margin-top: 8px"
			>
				<span translate="Anbieter"></span>:
				<a
					class="offer-ngo"
					ng-click="vm.goProvider()"
					href="{{vm.getURL()}}"
				>
					{{vm.offer.ngo.organisation}}
				</a>
			</div>
			<div
				ng-if="!$root.isTextAlignmentLeft"
				style="margin-top: 8px"
			>
				<a
					class="offer-ngo"
					ng-click="vm.goProvider()"
					href="{{vm.getURL()}}"
				>
					{{vm.offer.ngo.organisation}}
				</a>
				:<span translate="Anbieter"></span>
			</div>

		</div>
		<md-icon ng-if="!$root.isTextAlignmentLeft">info</md-icon>
	</div>

	<!--  ||||||||||||||||||||||||||||||||||||||||||||||||||| -->
	<!-- contact -->
	<!--  ||||||||||||||||||||||||||||||||||||||||||||||||||| -->

	<!-- phone -->
	<div
		layout="row"
		class="detail-container"
		ng-if="vm.offer.phone"
	>
		<md-icon ng-if="$root.isTextAlignmentLeft">phone</md-icon>

		<div
			class="detail-content"
			layout="column"
		>
			<a href="tel:{{vm.offer.phone}}">{{vm.offer.phone}}</a>
		</div>

		<md-icon ng-if="!$root.isTextAlignmentLeft">phone</md-icon>
	</div>

	<!-- website -->
	<div
		layout="row"
		class="detail-container"
		ng-if="vm.offer.website"
	>
		<md-icon ng-if="$root.isTextAlignmentLeft">insert_link</md-icon>

		<div
			class="detail-content"
			layout="column"
		>
			<a
				href="{{vm.offer.website}}"
				target="_blank"
			>{{vm.offer.website}}</a>
		</div>

		<md-icon ng-if="!$root.isTextAlignmentLeft">insert_link</md-icon>
	</div>

	<!--facebook -->
	<div
		layout="row"
		class="detail-container"
		ng-if="vm.offer.facebook_url"
	>
		<md-icon
			ng-if="$root.isTextAlignmentLeft"
			md-svg-src="/img/icons/facebook.svg"
			class="normal"
		></md-icon>

		<div
			class="detail-content"
			layout="column"
		>
			<a
				href="{{vm.offer.facebook_url}}"
				target="_blank"
			>{{vm.offer.facebook_url}}</a>
		</div>

		<md-icon
			ng-if="!$root.isTextAlignmentLeft"
			md-svg-src="/img/icons/facebook.svg"
			class="normal"
		></md-icon>
	</div>

	<!-- email -->
	<div
		layout="row"
		class="detail-container"
		ng-if="vm.offer.email"
	>
		<md-icon ng-if="$root.isTextAlignmentLeft">mail</md-icon>

		<div
			class="detail-content"
			layout="column"
		>
			<a href="mailto:{{vm.offer.email}}">{{vm.offer.email}}</a>
		</div>

		<md-icon ng-if="!$root.isTextAlignmentLeft">mail</md-icon>
	</div>

	<!--  ||||||||||||||||||||||||||||||||||||||||||||||||||| -->
	<!-- address -->
	<!--  ||||||||||||||||||||||||||||||||||||||||||||||||||| -->

	<div
		layout="row"
		class="detail-container"
	>
		<md-icon ng-if="$root.isTextAlignmentLeft">place</md-icon>

		<div
			class="detail-content"
			layout="column"
		>
			<div>
				<span>{{vm.offer.street}} {{vm.offer.streetnumber}}</span>
				<span ng-if="vm.offer.streetnumberadditional">
					{{vm.offer.streetnumberadditional}}
				</span>
			</div>
			<span>{{vm.offer.zip}} {{vm.offer.city}}</span>
		</div>

		<md-icon ng-if="!$root.isTextAlignmentLeft">place</md-icon>
	</div>

	<!--  ||||||||||||||||||||||||||||||||||||||||||||||||||| -->
	<!-- data -->
	<!--  ||||||||||||||||||||||||||||||||||||||||||||||||||| -->

	<!-- opening hours -->
	<div
		layout="row"
		class="detail-container"
		ng-if="vm.offer.opening_hours"
	>
		<md-icon ng-if="$root.isTextAlignmentLeft">schedule</md-icon>

		<div
			class="detail-content"
			layout="column"
		>
			{{vm.offer.opening_hours}}
		</div>

		<md-icon ng-if="!$root.isTextAlignmentLeft">schedule</md-icon>
	</div>

	<!-- age from/to -->
	<div
		layout="row"
		class="detail-container"
		ng-if="vm.offer.age_from && vm.offer.age_to"
	>
		<md-icon ng-if="$root.isTextAlignmentLeft">people</md-icon>

		<div
			class="detail-content"
			layout="column"
		>
			<span translate="Geeignetes Alter: %s - %s Jahre  | sprintf: vm.offer.age_from:vm.offer.age_to }}">
			</span>
		</div>

		<md-icon ng-if="!$root.isTextAlignmentLeft">people</md-icon>
	</div>

	<br>

	<!-- image -->
	<div ng-if="vm.offer.image">
		<img
			class="offer-detail-image"
			ng-src="{{vm.offer.image.src}}"
		>
	</div>

</div>


