<div
	layout-gt-sm="row"
	layout="column"
	style="padding-top: 8px"
>
	<!-- roles -->
	<div
		ng-if="vm.isElementVisible('roles')"
		style="padding-top: 8px"
		layout="row"
		flex="50"
	>
		<div flex="20">Rollen:</div>
		<div
			layout="column"
			flex
		>
			<div
				ng-repeat="role in vm.roles"
				flex
			>
				<strong>{{ role.display_name }}</strong>
				(<em>{{ role.description }}</em>)
			</div>

			<div
				ng-if="vm.isElementVisible('request-join')"
				flex
			>
				<a
					style="cursor: hand"
					ng-click="vm.requestRole()"
				>request a role
				</a>
			</div>
		</div>
	</div>

	<!-- provider -->
	<div
		ng-if="vm.isElementVisible('provider-box')"
		style="padding-top: 8px"
		layout="row"
		flex="50"
	>
		<div flex="20">Anbieter:</div>
		<div
			layout="column"
			flex
		>
				<a
					ng-repeat="provider in vm.providers"
					href="{{vm.getURL(provider,'provider')}}"
					ng-if="vm.isElementVisible('providers')"
				>
					{{ provider.organisation }}
				</a>

				<a
					style="padding-top: 8px"
					ng-click="vm.requestRole()"
				>
					join/create provider
				</a>

		</div>
	</div>

</div>

<md-divider></md-divider>

