<div
	layout="column"
	style="padding-top: 8px"
>
	<!-- roles -->
	<div
		ng-if="vm.isElementVisible('roles')"
		style="padding-top: 8px"
		layout="row"
		flex="50"
	>
		<div flex="10">Rollen:</div>
		<div
			layout="column"
			flex
		>
			<div
				ng-repeat="role in vm.roles"
				ng-if="role.name != 'user'"
				flex
			>
				<strong>{{ role.display_name }}</strong>
				(<em>{{ role.description }}</em>)
			</div>

			<div
				ng-if="vm.UserService.isWithoutRole()"
				ng-cloak
				flex
			>
				<strong>none</strong>
				(<a
				style="cursor: hand"
				ng-click="vm.requestRole()"
			><em>become a translator</em>
			</a>)
			</div>
		</div>
	</div>

	<!-- provider -->
	<div
		style="padding-top: 8px"
		layout="row"
		flex="50"
	>
		<div flex="10">Anbieter:</div>
		<div
			layout="column"
			flex
		>
			<a
				ng-repeat="provider in vm.UserService.providers"
				href="{{vm.getURL(provider,'provider')}}"
				ng-if="!vm.isAdmin()"
			>
				{{ provider.organisation }}
			</a>

			<span
				ng-if="vm.UserService.isAdministrator()"
			>
					<strong>none</strong> (<em>administrators cannot join providers</em>)
			</span>

			<span
				ng-if="!vm.UserService.isAdministrator() && vm.UserService.providers.length == 0"
				ng-cloak
			>
					<strong>none</strong> (<a
				style="cursor: hand"
				ng-click="vm.requestRole()"
			><em>request to join/create provider</em></a>)
			</span>

		</div>
	</div>

</div>

<!-- pending table -->
<div
	ng-if="vm.UserService.user.pendings.length > 0"
	style="margin-top: 24px;"
>
	<cms-request-table
		ng-model="vm.UserService.user.pendings"
	></cms-request-table>
</div>

<!-- request change button -->
<div
	flex
	layout="row"
	layout-align="end center"
	style="margin-top: 24px;"
	ng-if="!vm.UserService.isAdministrator()"
>
	<md-button
		ng-click="vm.requestRole()"
		class="md-primary md-raised"
	>
		<md-tooltip
			md-direction="left"
		>join,create or leave a service provider; join or resign the translation team
		</md-tooltip>
		request a profile change
	</md-button>
</div>


