<div ng-if="vm.isElementVisible('request-join')">
	welcome! you've joined new here as a content creator.<br/>
	in order to help us out you need to request a role using the form below.
</div>

<div>
	<div>
		what do you want to do? do you want to create and manage offers
		of an existing service provider? do you offer services helping
		people new in vienna and want to register as a new service provider?
		or do you want to help us out translating offers?
	</div>

	<div style="padding-top: 8px">
		<md-radio-group
			ng-model="vm.assignGroup"
			ng-change="vm.onAssignGroup(vm.assignGroup)">

			<md-radio-button value="assign">join an existing service provider</md-radio-button>
			<md-radio-button value="create">create a new service provider</md-radio-button>
			<md-radio-button value="translate">become a translator</md-radio-button>

		</md-radio-group>
	</div>

	<div
		ng-if="vm.assignGroup == 'assign'"
	>
		drop down with ngos to send an invite to ...
	</div>

	<div
		ng-if="vm.assignGroup == 'create'"
	>
		create a new ngo form ...
	</div>

	<div
		ng-if="vm.assignGroup == 'translate'"
	>
		just a button ...
	</div>
</div>




