<!-- LOADER -->
<div ng-if="!vm.offer"
	 layout="row" layout-align="center center" layout-fill>
	<loader></loader>
</div>

<!-- offer -->
<div class="offer-detail"
	 ng-if="vm.offer">

	<h2>{{vm.offer.title}}</h2>

	<!-- contact -->
	<p ng-if="vm.offer.phone">
		<md-icon>phone</md-icon>
		<a href="tel:{{vm.offer.phone}}">{{vm.offer.phone}}</a></p>
	<p style="word-break: break-all"
	   ng-if="vm.offer.website">
		<md-icon>insert_link</md-icon>
		<a href="{{vm.offer.website}}"
		   target="_blank">{{vm.offer.website}}</a>
	</p>
	<p style="word-break: break-all"
	   ng-if="vm.offer.facebook_url">
		<md-icon md-svg-src="/img/icons/facebook.svg"
				 class="normal">
		</md-icon>
		<a href="{{vm.offer.facebook_url}}"
		   target="_blank">{{vm.offer.facebook_url}}
		</a>
	</p>
	<p ng-if="vm.offer.email">
		<md-icon>mail</md-icon>
		<a href="mailto:{{vm.offer.email}}">{{vm.offer.email}}</a>
	</p>

	<!-- address -->
	<p ng-if="vm.offer.street">
		<md-icon>place</md-icon>
		{{vm.offer.street}} {{vm.offer.streetnumber}}</br>
		<span ng-if="vm.offer.streetnumberadditional"
			  class="offer-detail-address">{{vm.offer.streetnumberadditional}} {{vm.offer.zip}}</br>
			</span>
		<span ng-if="!vm.offer.streetnumberadditional"
			  class="offer-detail-address">{{vm.offer.zip}}</br>
			</span>
		<span ng-if="vm.offer.street"
			  class="offer-detail-address">{{vm.offer.city}}</span>
	</p>

	<!-- data -->
	<p ng-if="vm.offer.opening_hours">
		<md-icon>schedule</md-icon>
		{{vm.offer.opening_hours}}
	</p>
	<p ng-if="vm.offer.age_from && vm.offer.age_to">
		<md-icon>people</md-icon>
		<span translate="Geeignetes Alter: %s - %s Jahre  | sprintf: vm.offer.age_from:vm.offer.age_to }}">
			</span>
	</p>
	<p ng-if="vm.offer.description"
	   class="offer-detail-description">
		<md-icon>info</md-icon>
		{{vm.offer.description}}
	</p>
	<p class="offer-ngo-title">
		<span translate="Anbieter"></span>:
		<a class="offer-ngo"
		   ui-sref="main.provider({id:vm.offer.ngo.id})">
			{{vm.offer.ngo.organisation}}
		</a>
	</p>
	<br>
	<div ng-if="vm.offer.image">
		<img class="offer-detail-image"
			 ng-src="{{vm.offer.image.src}}">
	</div>

	<!-- raise button -->
	<md-content flex
				hide-gt-sm>
		<md-button ng-if="vm.offer !=null"
				   style="float: right;position:fixed;bottom:1em;right:1em"
				   class="md-raised md-icon-button md-primary"
				   ng-click="vm.toggleMap()"
				   layout-align="center center">
			<i class="material-icons"
			   ng-if="!$root.showMap">map</i>
			<i class="material-icons"
			   ng-if="$root.showMap">info</i>
		</md-button>
	</md-content>

</div>


