<md-table-container>
	<table
		md-table
	>

		<!-- head -->
		<thead md-head>
		<tr md-row>

			<!-- user -->
			<th
				md-column
				ng-if="vm.isElementVisible('user')"
				style="min-width: 200px"
				md-order-by="user_id"
			>{{ 'User' | translate }}
			</th>

			<!-- type -->
			<th
				md-column
				md-order-by="type"
			>{{ 'Request' | translate }}
			</th>

			<!-- role -->
			<th
				md-column
				style="min-width: 200px"
				md-order-by="role_id"
			>{{ 'Rolle' | translate }}
			</th>

			<!-- provider -->
			<th
				md-column
				style="min-width: 200px"
				md-order-by="ngo_id"
			>{{ 'Anbieter' | translate }}
			</th>

			<!-- delete -->
			<th
				md-column
				ng-if="vm.isElementVisible('delete')"
			><i
				class="material-icons"
				style="padding-left: 14px;"
			>delete</i>
			</th>

			<!-- accept -->
			<th
				md-column
				ng-if="vm.isElementVisible('accept')"
			><i
				class="material-icons"
				style="padding-left: 14px;"
			>done</i>
			</th>

		</tr>
		</thead>

		<!-- body -->
		<tbody md-body>
		<tr
			md-row
			md-select="item"
			ng-repeat="item in vm.items"
		>


			<!-- user -->
			<td
				md-cell
				ng-if="vm.isElementVisible('user')"
			>
				<a
					href="{{vm.getURL(item,'user')}}"
					ng-if="item.user"
				>{{item.user.email}}</a>
			</td>

			<!-- type -->
			<td md-cell>
				<md-button
					ng-if="item.type == 1"
					class="md-icon-button md-accent md-hue-1"
					style="margin-left: 0px;"
				>
					<md-tooltip
						md-direction="right"
						md-delay="800"
					>wants to join role/provider
					</md-tooltip>
					<md-icon>redo</md-icon>
				</md-button>

				<md-button
					ng-if="item.type == 0"
					class="md-icon-button md-accent md-hue-3"
					style="margin-left: 0px;"
				>
					<md-tooltip
						md-direction="right"
						md-delay="800"
					>wants to leave role/provider
					</md-tooltip>
					<md-icon>undo</md-icon>
				</md-button>
			</td>

			<!-- roles -->
			<td md-cell>
				{{ item.role.display_name }}
			</td>

			<!-- provider -->
			<td	md-cell>
				<md-icon ng-if="item.ngo && !item.ngo.published">lock</md-icon>
				<md-icon ng-if="item.ngo && item.ngo.published">lock_open</md-icon>
					<a
						href="{{vm.getURL(item,'provider')}}"
						ng-if="item.ngo"
					>{{item.ngo.organisation}}</a>
			</td>

			<!-- delete -->
			<td
				md-cell
				ng-if="vm.isElementVisible('delete')"
			>
				<md-button
					ng-click="vm.deleteItem(item)"
					class="md-icon-button md-accent md-hue-1"
				>
					<md-icon>delete</md-icon>
				</md-button>
			</td>

			<!-- delete -->
			<td
				md-cell
				ng-if="vm.isElementVisible('accept')"
			>
				<md-button
					ng-click="vm.acceptItem(item)"
					class="md-icon-button md-accent md-hue-2"
				>
					<md-icon>done</md-icon>
				</md-button>
			</td>

		</tr>
		</tbody>
	</table>
</md-table-container>