<md-dialog class="min-width-dialog">

  <md-toolbar>
    <div class="md-toolbar-tools">
      <h2>{{ 'Anbieter Notizen' | translate }}</h2>
      <span flex></span>
      <md-button
        class="md-icon-button"
        ng-click="vm.requestCancel()"
      >
        <md-icon aria-label="">close</md-icon>
      </md-button>
    </div>
  </md-toolbar>

  <!-- content -->
  <md-dialog-content>

    <!-- headline -->
    <div
      layout="row"
      layout-align="space-between center"
      layout-padding
    >
      <!-- checked -->
      <md-button
        ng-click="vm.toggleItem(vm.note,true)"
        ng-disabled="!vm.isElementEnabled('enabled')"
        ng-if="!vm.note.checked"
        class="md-icon-button md-accent"
      >
        <md-tooltip
          md-direction="right"
          md-delay="800"
        >belongs to newhere (has stars)
        </md-tooltip>
        <md-icon aria-label="">radio_button_unchecked</md-icon>
      </md-button>
      <md-button
        ng-click="vm.toggleItem(vm.note,false)"
        ng-disabled="!vm.isElementEnabled('enabled')"
        ng-if="vm.note.checked"
        class="md-icon-button md-accent"
      >
        <md-tooltip
          md-direction="right"
          md-delay="800"
        >belongs to provider (no stars)
        </md-tooltip>
        <md-icon aria-label="">check</md-icon>
      </md-button>

      <!-- name -->
      <span><strong>{{vm.item.organisation}}</strong></span>
      <span flex></span>

      <!-- links -->
      <div layout="row">
        <div>
          <md-tooltip
            md-direction="left"
            md-delay="800"
          >
            <small>link to frontend (ID: {{vm.item.id}})</small>
          </md-tooltip>
          <a href="{{vm.getURL(vm.item,'frontend')}}">
            <md-icon>insert_link</md-icon>
          </a>
        </div>

        <div style="padding-left: 4px">
          <md-tooltip
            md-direction="left"
            md-delay="800"
          >
            <small>link to cms (ID: {{vm.item.id}})</small>
          </md-tooltip>
          <a href="{{vm.getURL(vm.item,'cms')}}">
            <md-icon>business</md-icon>
          </a>
        </div>
      </div>
    </div>

    <!-- last update -->
    <div
      layout="column"
      layout-align="start start"
    >
       <span style="margin-left: 16px">
      {{ 'Letzte Änderung' | translate }}
      </span>
      <div
        layout="row"
        layout-align="start start"
        layout-padding
      >
        <div
          layout="row"
          layout-align="start center"
          layout-padding
        >
          <i
            class="material-icons"
            style="color:rgba(93, 93, 93, 0.87)"
          >date_range</i>
          <span style="padding-left: 4px">{{vm.note.updated_at}}</span>
        </div>

        <div
          layout="row"
          layout-align="start center"
          layout-padding
        >
          <i
            class="material-icons"
            style="color:rgba(93, 93, 93, 0.87)"
          >group</i>
          <span style="padding-left: 4px">{{vm.note.user.name}}</span>
        </div>
      </div>
    </div>


    <!-- form -->
    <form
      name="ngoForm"
      class="blank"
      layout="column"
      layout-padding
    >
      <span>
        {{ 'Anbieter Kontaktdaten' | translate }}
      </span>

      <!-- contact -->
      <div
        layout="row"
        layout-align="space-between start"
      >
        <!-- name -->
        <md-input-container
          class="md-block"
          flex-gt-sm
        >
          <label>{{ 'Kontakt' | translate }}</label>
          <input
            ng-model="vm.item.contact"
            placeholder="Max Mustermann"
          >
        </md-input-container>

        <!-- email -->
        <md-input-container class="md-block">
          <label>{{ 'Email' | translate }}</label>
          <input
            ng-model="vm.item.contact_email"
            type="email"
            name="email"
            placeholder="email@offer.com"
            ng-pattern="/^.+@.+\..+$/"
          >
          <div
            ng-messages="ngoForm.email.$error"
            role="alert"
          >
            <div ng-message-exp="['pattern']">
              {{ 'the given email address should at least look valid' | translate }}
            </div>
          </div>
        </md-input-container>

        <!-- phone -->
        <md-input-container class="md-block">
          <label>{{ 'Telefon' | translate }}</label>
          <input
            ng-model="vm.item.contact_phone"
            placeholder="+43 660 12345678"
            type="tel"
            name="phone"
            ng-pattern="/^\+?[0-9]+[\s0-9\-]*$/"
            minlength="6"
            maxlength="24"
          >
          <div
            ng-messages="ngoForm.phone.$error"
            role="alert"
          >
            <div ng-message-exp="['minlength', 'maxlength', 'pattern']">
              {{ 'the given phone number should at least look valid' | translate }}
            </div>
          </div>
        </md-input-container>
      </div>

      <!-- notes -->
      <div
        layout="row"
        layout-align="start end"
      >
        <md-input-container
          class="md-block"
          layout-fill
        >
          <label>{{ 'Notes' | translate }}</label>
          <textarea
            layout-fill
            ng-model="vm.note.notes"
            md-maxlength="1023"
            rows="4"
          ></textarea>
        </md-input-container>
      </div>

    </form>

  </md-dialog-content>

  <!-- toolbar -->
  <md-dialog-actions>
    <div>
      <md-button
        ng-click="vm.requestCancel()"
      >
        {{ 'Abbrechen' | translate }}
      </md-button>

      <md-button
        class="md-primary md-raised"
        ng-click="vm.requestComplete()"
      >
        {{ 'Speichern' | translate }}
      </md-button>
    </div>
  </md-dialog-actions>

</md-dialog>