<md-dialog class="min-width-dialog">
	<form ng-submit="vm.save()">
		<md-toolbar>
			<div class="md-toolbar-tools">
				<h2>{{vm.dialog.title}}</h2>
				<span flex></span>
				<md-button
					class="md-icon-button"
					ng-click="vm.cancel()"
				>
					<md-icon aria-label="close">close</md-icon>
				</md-button>
			</div>
		</md-toolbar>

		<!-- -->
		<md-dialog-content>

			<div
				class="md-dialog-content"
				layout="column"
				layout-gt-sm="row"
			>
				<!--        -->
				<!-- source -->
				<div
					layout="column"
					flex-gt-sm="50"
					layout-margin
				>
					<!-- lang switch -->
					<md-toolbar
						class="md-table-toolbar md-default"
						layout-align="space-between start"
						layout-padding
						layout="row"
						style="padding-left: 0px;"
					>
						<md-input-container
							class="md-block no-error"
							style="font-size:16px;margin-bottom: 35px;padding-left: 0px;"
						>
							<label>{{ 'Source' | translate }}</label>
							<md-select
								ng-model="vm.dialog.source"
								ng-change="vm.onDialogSourceChange()"
								style="max-width: 100px"
							>
								<md-option
									ng-repeat="lang in vm.dialog.languages"
									ng-value="lang"
								>
									<md-icon aria-label="done_all"
										ng-if="lang.version == 2"
									>
										done_all
									</md-icon>
									<md-icon aria-label="done"
										ng-if="lang.version == 1"
									>
										done
									</md-icon>
									<md-icon aria-label="highlight_off"
										ng-if="lang.version == 0"
									>
										highlight_off
									</md-icon>
									&nbsp;&nbsp;{{ lang.locale }}
								</md-option>
							</md-select>
						</md-input-container>
					</md-toolbar>

					<!-- date -->
					<md-input-container
						class="md-block"
					>
						<label>last update</label>
						<input
							ng-model="vm.dialog.source.updated_at"
							readonly
							disabled
						>
					</md-input-container>

					<!-- input -->
					<md-input-container
						ng-repeat="field in vm.dialog.source.fields"
						class="md-block"
					>
						<label>{{field.label}}</label>
						<textarea
							ng-if="field.label != 'content'"
							ng-model="vm.dialog.source[field.value]"
							rows="{{field.rows}}"
							readonly
							disabled
						></textarea>
						<div
								ng-if="field.label == 'content'"
								ng-bind-html="vm.dialog.source[field.value]"
								class="max-height-content"
								disabled
						>
						</div>
					</md-input-container>
				</div>

				<!--        -->
				<!-- target -->
				<div
					layout="column"
					flex-gt-sm="50"
					layout-margin
				>
					<!-- lang switch -->
					<md-toolbar
						class="md-table-toolbar md-default"
						layout-align="space-between start"
						layout-padding
						layout="row"
						style="padding-left: 0px;"
					>
						<md-input-container
							class="md-block no-error"
							style="font-size:16px;margin-bottom: 35px;padding-left: 0px;"
						>
							<label>{{ 'Target' | translate }}</label>
							<md-select
								ng-model="vm.dialog.target"
								ng-change="vm.onDialogTargetChange()"
								style="max-width: 100px"
							>
								<md-option
									ng-repeat="lang in vm.dialog.languages"
									ng-value="lang"
									ng-if="lang.locale != 'de'"
								>
									<md-icon aria-label="done_all"
										ng-if="lang.version == 2"
									>
										done_all
									</md-icon>
									<md-icon aria-label="done"
										ng-if="lang.version == 1"
									>
										done
									</md-icon>
									<md-icon aria-label="highlight_off"
										ng-if="lang.version == 0"
									>
										highlight_off
									</md-icon>
									&nbsp;&nbsp;{{ lang.locale }}
								</md-option>
							</md-select>
						</md-input-container>

						<!-- change translation status -->
						<md-input-container
							class="md-block no-error"
							style="font-size:16px;"
						>
							<label>{{ 'Status' | translate }}</label>
							<md-select
								ng-model="vm.dialog.target.version"
								ng-change="vm.onDialogStatusChange()"
							>
								<md-option value="2">
									<md-icon aria-label="">done_all</md-icon>&nbsp;&nbsp;
									                           proof-read
								</md-option>
								<md-option value="1">
									<md-icon aria-label="">done</md-icon>&nbsp;&nbsp;
									                       translated
								</md-option>
								<md-option value="0">
									<md-icon aria-label="">highlight_off</md-icon>&nbsp;&nbsp;
									                                outdated
								</md-option>
							</md-select>
						</md-input-container>

					</md-toolbar>

					<!-- date -->
					<md-input-container
						class="md-block"
						readonly
					>
						<label>last update</label>
						<input
							ng-model="vm.dialog.target.updated_at"
							readonly
							disabled
						>
					</md-input-container>

					<!-- input -->
					<md-input-container
						ng-repeat="field in vm.dialog.target.fields"
						class="md-block"
					>
						<label
								ng-if="field.label != 'content'"
						>{{field.label}}</label>
						<textarea
							ng-if="field.label != 'content'"
							ng-model="vm.dialog.target[field.value]"
							rows="{{field.rows}}"
						></textarea>
						<textarea
								ui-tinymce="vm.tinyOptions"
								ng-if="field.label == 'content'"
								ng-model="vm.dialog.target[field.value]"
								rows="{{field.rows}}"
						></textarea>
					</md-input-container>

				</div>
			</div>
		</md-dialog-content>

		<!-- -->
		<md-dialog-actions>
			<md-button
				type="button"
				ng-click="vm.cancel()"
			>{{ 'Abbrechen' | translate }}
			</md-button>
			<md-button
				class="md-primary md-raised"
				type="submit"
			>{{ 'Speichern' | translate }}
			</md-button>
		</md-dialog-actions>
	</form>
</md-dialog>